html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slide-1 {
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.section-1 {
  min-height: 3rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.section-1-2 {
  height: 100%;
  display: flex;
}

#row-section-1-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.header-text-section-1-2 {
  width: 100%;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 20px;
  background: rgb(203, 195, 195);
  background: linear-gradient(
    267deg,
    rgba(203, 195, 195, 0.7682423311121324) 2%,
    rgba(156, 155, 155, 0.9391106784510679) 61%,
    rgba(198, 193, 193, 0.6702031154258579) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: hsl(0deg 0% 0% / 35%);
}

.Description-text-section-1-2 {
  text-align: center;
  color: rgb(146, 143, 143);
}

#btn-section-1-2 {
  display: flex;
  align-self: center;
  margin-top: 50px;
}

#self-btn-section-1-2 {
  height: 4rem;
  width: 12rem;
  background-color: rgb(31, 114, 93);
  color: white;
  font: 15px;
  border: none;
  outline: none;
  box-shadow: -1px 2px 7px 0px black;
}

.slide-2 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(23, 23, 23, 1) 51%,
    rgba(40, 40, 40, 1) 100%
  );
}

#row-section-2-1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-ipad-section-2-1 {
  width: 70%;
  height: 70%;
}

#header-text-section-2-1{
    margin-top: 10rem;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
}

#description-text-section-2-1{
    color: rgb(150, 149, 149);
    text-align: center;
    margin-bottom:30px;
}